* {
	margin: 0;
	padding: 0;

}

.wrapper {

	margin: 0 auto;
	width: 500px;
}

video {

	width: 100%;
	display: wrap;
}
a.button {

	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: initial;
	background-color: blue;
	border: 10px;
}